.idea/
.DS_Store
vendor/
zk-multiple-kafka-single
draethos
build/
to-do.txt
go.sum
*.dist
*.env*
share/**/**
!share/bridge/.gitkeep
!share/contracts/.gitkeep
!share/.gitkeep
test.go
./librdkafka
./solr-*
cp.out
secrets.txt